.App-logo { 
  height: 40vmin;
  pointer-events: none;
}

.appBody{
  background-color: #333335;
  height: 60rem;
}

.App-header {
  background-color: #333335;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* Header Styles */

.nav_logo {
  text-decoration: none;
  flex: none;
  color: #fff;
  margin-left: 55px;
}

.navbar {
  position: fixed;
  top: 0;
  background-color: #2a2a2b;
  height: 70px;
  display: flex;
  align-items: center;
}

.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
}

.nav-menu {
  background-color: #2a2a2b;
  width: 300px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
  margin-top: 70px !important;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
}

.nav-text {
  display: flex;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: #f5f5f5;
  font-size: 18px;
  width: 75%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: #A78BFA;
}

.nav-menu-items {
  width: 100%;
}

span {
  margin-left: 16px;
}

/* Home Styles */

.videos-container{
  margin-top: 70px;
  margin-left: 330px;
}

.card{
  background-color: #333335;
  color: #fff;
  width: 400px;
  height: 300px;
  list-style-type: none;
  margin-top: 20px;
  margin-right: 40px;
  cursor: pointer;
  float:left;    
}

.card-img{
  height: 100px;
  width: 100% !important;
  display: inline;
  border-top-left-radius: calc(.25rem - 1px);
  border-top-right-radius: calc(.25rem - 1px);
}

.card-text{
  font-weight: 200;
  padding-right: 30px;
}

/* watch-videos */

.watch-video{
  padding-top: 100px;
  margin-left: 350px;
}

.icon-btn {
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
  margin: 1rem;
}

.icon-btn-red {
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
  margin: 1rem;
  color: red;
}

.material-icons {
  font-size: 36px;
}

.like-video{
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.removeLiked{
  z-index: 5 !important;
  margin-top: -120px !important;
  margin-left: 320px;
}

.dislike-video{
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.like-video-button{
  margin-left: 57rem;
  border: none;
  outline: none;
  border-radius: 1px;
}

.dislike-video-button{
  margin-left: 1rem;
  border: none;
  outline: none;
  border-radius: 1px;
}

.divder{
  margin-left: 0px !important;
  width: 80.5%;
}

.center{
  padding-left: 500px !important;
  padding-top: 100px !important;
  color: #fff;
}

.history__btn{
  border-width: 0px;
  border-radius: 10px;
  border-style: solid;
  box-sizing: border-box;
  overflow-wrap: break-word;
  font-family: inherit;
  margin: 0px;
  overflow: visible;
  text-transform: none;
  cursor: pointer;
  padding: 0px;
  display: inline-flex;
  appearance: none;
  -webkit-box-align: center;
  align-items: center;
  justify-content: center;
  user-select: none;
  position: relative;
  white-space: nowrap;
  vertical-align: middle;
  outline: none;
  width: auto;
  line-height: 1.2;
  font-weight: 500;
  height: 40px;
  min-width: 200px;
  font-size: 25px;
  padding-inline-start: 10px;
  padding-inline-end: 10px;
  background: #A78BFA;
  color: #fff;
}

.history__btn:hover {
  color: #fff;
  background-color: #9d7cff;
  color: #fff;
  border-color: #9d7cff;
}

.btn__container{
  position: absolute;
  top: 80px;
  right: 134px;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #A78BFA;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #9d7cff;
}
.form .message {
  margin: 15px 0 0;
  color: #000;
  font-size: 12px;
}
.form .message a {
  color: #9d7cff;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}

.btn__logout{
  margin-left: -120px !important;
}